<a href="https://colab.research.google.com/github/b2201700/Prmn2023a/blob/main/my_answer/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [7]:
import random

list1 = []
for i in range(5):
  list1.append( 2220000 + 10 * random.randint(1,280) )
  list1[i] = 'b' + str( list1[i] )
print(list1)

['b2221520', 'b2221440', 'b2221800', 'b2220010', 'b2221620']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [34]:
import random

list2_1 = []
list2_2 = []
for i in range(5):
  while True:  # 重複しないように格納する
    list2_1.append( random.randint(1,9) )
    list2_2.append( random.randint(1,9) )
    if list2_1.count( str(list2_1[i]) ) > 1:
      list2_1.pop()
    if list2_2.count( str(list2_2[i]) ) > 1:
      list2_2.pop()
    else:
      break
list2_3 = [ list2_1[i] + list2_2[i] for i in range(5) ]
print(f'1つ目のリスト:{list2_1}\n2つ目のリスト:{list2_2}')
print(f'足し合わせたリスト:{list2_3}')

1つ目のリスト:[4, 5, 8, 5, 7]
2つ目のリスト:[3, 5, 4, 8, 3]
足し合わせたリスト:[7, 10, 12, 13, 10]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [37]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [39]:
todohuken_list2 = [ todohuken_list[i*4:(i+1)*4] for i in range(12) ]
print( todohuken_list2 )

[['北海道', '青森県', '岩手県', '宮城県'], ['秋田県', '山形県', '福島県', '茨城県'], ['栃木県', '群馬県', '埼玉県', '千葉県'], ['東京都', '神奈川県', '新潟県', '富山県'], ['石川県', '福井県', '山梨県', '長野県'], ['岐阜県', '静岡県', '愛知県', '三重県'], ['滋賀県', '京都府', '大阪府', '兵庫県'], ['奈良県', '和歌山県', '鳥取県', '島根県'], ['岡山県', '広島県', '山口県', '徳島県'], ['香川県', '愛媛県', '高知県', '福岡県'], ['佐賀県', '長崎県', '熊本県', '大分県'], ['宮崎県', '鹿児島県', '沖縄県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [135]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [139]:
u_list = [ university_list[i].split(',')[1] for i in range(4) ]
# print(u_list)
u_list2 = [ int( u_list[i] ) for i in range(4) ]
u_list2.sort()
# print(u_list2)
u_list2 = [ str( u_list2[i]) for i in range(4)]
# print(u_list2)
university_list2 = []
for i in range(4):
  for j in range(4):
    if u_list2[i] in university_list[j]:
      university_list2.append( university_list[j] )
print( university_list2 )

['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [140]:
FB_list = []
for i in range(1,101):
  if i%3 == 0 and i%5 == 0:
    FB_list.append("FizzBuzz")
  elif i%3 == 0:
    FB_list.append("Fizz")
  elif i%5 == 0:
    FB_list.append("Buzz")
  else:
    FB_list.append("others")
print(f'FizzBuzzの数:{FB_list.count("FizzBuzz")}')
print(f'Fizzの数:{FB_list.count("Fizz")}')
print(f'Buzzの数:{FB_list.count("Buzz")}')
print(f'othersの数:{FB_list.count("others")}')

FizzBuzzの数:6
Fizzの数:27
Buzzの数:14
othersの数:53